/vendor
.env
/public/uploads
.DS_Store
/sftp-config.json
bootstrap/app.php
#/storage/oauth-*
/config
composer-live.json
dorcas-api.yaml
dorcas-base.yml
dorcas-base.sql
dorcas-update.sql
dorcas.sql
rds-ca-2019-root.pem
ansible-automation
/.phpintel
storage/logs/*